{% extends 'base.html' %}
{% block content %}


        <!-- Start breadcrumb section -->
        <section class="breadcrumb__section breadcrumb__bg"  style="background-image:url({{ aboutbanner.image.url }})">
            <div class="container">
                <div class="row row-cols-1">
                    <div class="col">
                        <div class="breadcrumb__content">
                            <h1 class="breadcrumb__content--title text-white mb-10">{{ aboutbanner.title }}</h1>
                            <ul class="breadcrumb__content--menu d-flex">
                                <li class="breadcrumb__content--menu__items"><a class="text-white" href="index.html">Home</a></li>
                                <li class="breadcrumb__content--menu__items"><span class="text-white">{{ aboutbanner.title }}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End breadcrumb section -->

       <!-- Start about section -->
<section class="about__section section--padding mb-95">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about__thumbnail d-flex">
                    <div class="about__thumbnail--items">
                        <img class="about__thumbnail--img border-radius-5 display-block" src="{{ about.image.url }}" alt="about-thumbnail">
                    </div>
                    <div class="about__thumbnail--items position__relative">
                        <img class="about__thumbnail--img border-radius-5 display-block" src="{{ about.image2.url }}" alt="about-thumbnail">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__content">
                    <h2 class="about__content--maintitle mb-25">{{ about.title }}</h2>
                    <p class="about__content--desc mb-20">{{ about.text }}</p>
                    <p class="about__content--desc mb-25">{{ about.text }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about section -->


        <!-- Start brand logo section -->
        <div class="brand__logo--section bg__secondary section--padding">
            <div class="container-fluid">
                <div class="row row-cols-1">
                    <div class="col">
                        <div class="brand__logo--section__inner d-flex justify-content-center align-items-center">
                            {% for i in brand %}
                            <div class="brand__logo--items">
                                <img class="brand__logo--items__thumbnail--img" src="{{ i.logo.url }}" alt="brand logo">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End brand logo section -->
    </main>

{% endblock %}
